.bg-overlay {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 350px;
    padding-top: 50px;
}
.bg-overlay h1{
	font-size:4em;
    padding-top: 81px;
}

.about-content p{
	font-size: 20px;
}
.about-heading{
    color: #22469e;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    margin: 30px 0 40px;
}

.about-heading:after{
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
    background:rgb(20,80,69,0.7);
    left: 0px;
    bottom: -11px;    
}