.carousel-section{
    height: 550px;
}
.carousel-section img{
    height: 550px;
}

.carousel-indicators > li {
  border-radius: 50%;
  height: 20px;
  width:20px;
}
.carousel-control-next{
    right: 30px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #22469e;
    top: 50%;
}
.carousel-control-prev{
    left: 30px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #22469e;
    top: 50%;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 20px;
    height: 10px;
}
.carousel-content {
    border-right: 5px solid #22469e;
    background: #ffffffab;
    padding: 20px;
    width: 35%;
    position: absolute;
    left: 7%;
    top: 20%;
    z-index: 20;
}
.carousel-content p {
    font-size: 22px;
    color: #d72b29;
}
.carousel-content h2 {
    font-size: 2.8em;
    font-weight: bold;
    color: #22469e;
}
@media(max-width:768px){
    .carousel-content{
        width:80%;
    }
    .carousel-section{
        height: 300px;
    }
    .carousel-section img{
        height: 300px;
    }
    .carousel-content h2 {
    font-size: 2.3em;
    }
    .carousel-content p{
        font-size: 18px;
    }

}
