* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', 'Arial', sans-serif;
}


/* BASIC SETUP */

.page-wrapper {
  width: 100%;
  height: auto;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #fff;
}

.top-header{
    background: #22469e;
}
.top-header ul{
  list-style-type: none;
  display: flex;
  padding-top:10px;
}

.top-link{
color:#fff;
}

.header-sociallink{
    padding: 8px 12px;
    color:#fff;
    border: 2px solid #22469e;
}

.header-sociallink:hover {
    background-color: #ffffff;
    color: #22469e;
}

.top-link:hover{
  text-decoration: none;
  color:#fff;
}

/* NAVIGATION */

.navbar {
  display: grid;
  grid-template-columns:  0.5fr 1.5fr 3fr 1fr;
  align-items: center;
  height: 90px;
  overflow: hidden;
}

.navbar img {
  height: 80px;
  width: auto;
  margin-left: 20px;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  
}

.nav-item a {
  color: #000;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out,background-color 0.3s ease-out;
} 

.nav-item a:hover {
    color: #d82c2a;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar{
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover{
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2){
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}


/* Media Queries */

  /* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 768px) { 
  .features {
    flex-direction: column;
    padding: 50px;
  }
  
  /* MOBILE HEADINGS */
  
  h1 {
    font-size: 1.9rem;
  }
  
  h2 {
    font-size: 1rem;
  }
  
  p {
    font-size: 0.8rem;
  }
  
  /* MOBILE NAVIGATION */
     
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 0px;
    left:0px;
    background-color: #fff;
    width: 80%;
    height: 100vh;
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }
  
  .navbar li {
    padding: 15px;
  }
  
  .navbar li:first-child {
    margin-top: 50px;
  }
  
  .navbar li a {
    font-size: 1rem;
  }
   
  .menu-toggle, .bar {
    display: block;
    cursor: pointer;
  }
  
  .mobile-nav {
  transform: translate(0%)!important;
}
  
}